name: C++

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    name: Test C++ on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: ilammy/msvc-dev-cmd@v1
      - name: Build
        run: |
          mkdir -p cpp/build
          cd cpp/build
          cmake -DCMAKE_BUILD_TYPE=Debug ..
          cmake --build . --parallel 2
      - name: Run tests
        run: |
          cd cpp/build
          ctest -C Debug
        env:
          CTEST_OUTPUT_ON_FAILURE: 1
